*{
    margin: o;
    padding: o;
}
body {
    background-color: #121212;
    margin: 0;
}
.container{
    width: 1920px;
    height: 1080px;
    background-color: 131313;
    border-radius: 40px;
    position: relative;
}
.container1{
    width: 1920px;
    height: 1080px;
    position: absolute;
}
.yellow{
    background-color: #242424;
    width: 1393px;
    height: 1080px;
    margin-left: 527px;
    position: absolute;
}
.h1{
    width: 329px;
    height: 48px;
    margin-top: 106px;
    font-size: 32;
    color: #FFFFFF;
}
.p{
    width: 625px;
    height: 54px;
    margin-top: 164px;
    font-size: 18;
    color: #7F7F7F;
}
.form{
    width: 800px;
    height: 696px;
    margin-top: 278px;
    border: none;
}
input{
    width: 800px;
    height: 48px;
    border-radius: 4px;
    color: #7F7F7F;
    background-color: #242424;
    border: none;
}
.i{
    color: #FFFFFF;
    border-top: 1px solid #3D3D3D;
    border-left: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
    border-right: 1px solid #3D3D3D;
}
.ii{
    margin-top: 30px;
    border-top: 1px solid #3D3D3D;
    border-left: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
    border-right: 1px solid #3D3D3D;
}
.iii{
    margin-top: 30px;
    border-top: 1px solid #3D3D3D;
    border-left: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
    border-right: 1px solid #3D3D3D;
}
.iv{
    margin-top: 30px;
    border-top: 1px solid #3D3D3D;
    border-left: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
    border-right: 1px solid #3D3D3D;
}
.v{
    margin-top: 30px;
    border-top: 1px solid #3D3D3D;
    border-left: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
    border-right: 1px solid #3D3D3D;
}
.vi{
    margin-top: 30px;
    border-top: 1px solid #3D3D3D;
    border-left: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
    border-right: 1px solid #3D3D3D;
}
.pasword{
    margin: o;
    width: 186px;
    height: 24px;
    display: flex;
}
.ch{
    width: 24px;
    height: 24px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #242424;
}
.cp{
    width: 146px;
    height: 24px;
    text-align: center;
    margin-top: 30px;
    color: #7F7F7F;
}
.but{
    width: 200;
    height: 48;
    margin-top: 30px;
    background-color: #4B72C2;
    color: #FFFFFF;
}
.line{
    border-bottom: 2px solid black;
    margin-top: 50px;
}
p{
    margin-top: 32px;
}

